<ion-content class="main-container">
  <header class="header">
    <div class="navigation">
      <img
        src="assets/subscription-assests/logo-white.svg"
        alt="Description of SVG"
      />
    </div>
  </header>
  <div class="section-1">
    <div class="card-1">
      <div class="head">
        <div class="heading-font">Subscribe</div>
        <div class="title-font">to our Monthly Surprise Box</div>
        <div class="breadcrumb">
          <p>Cart</p>
          <img
            src="assets/subscription-assests/chevron-right.svg"
            alt="Description of SVG"
          />
          <p>Information</p>
          <img
            src="assets/subscription-assests/chevron-right.svg"
            alt="Description of SVG"
          />
          <p>Shipping</p>
          <img
            src="assets/subscription-assests/chevron-right.svg"
            alt="Description of SVG"
          />
          <p>Payment</p>
        </div>

        <div class="divider"></div>
      </div>
      <div class="form">
        <div class="heading-font">Contact Information</div>
        <div class="frame">
          <div class="input-form">
            <div class="title-font">Your Name</div>
            <div class="input-div style">
              <input
                type="text"
                name=""
                id=""
                placeholder="e.g Osama Alshathri"
              />
            </div>
          </div>
          <div class="input-form">
            <div class="title-font">Email</div>
            <div class="input-div style">
              <input type="text" name="" id="" placeholder="Osama@gmail.com" />
            </div>
          </div>
        </div>
      </div>
      <div class="form">
        <div class="heading-font">Child’s Information</div>
        <div class="frame">
          <div class="input-form">
            <div class="title-font">Child’s Full Name</div>
            <div class="input-div style">
              <input
                type="text"
                name=""
                id=""
                placeholder="e.g Osama Alshathri"
              />
            </div>
          </div>
          <div class="input-form">
            <div class="title-font">Child’s Date of Birth</div>
            <div class="form-row">
              <div class="dropdown-div style">
                <select class="font">
                  <option value="option1">Date</option>
                </select>
              </div>

              <div class="dropdown-div style">
                <select class="font">
                  <option value="option1">Month</option>
                </select>
              </div>
              <div class="dropdown-div style">
                <select class="font">
                  <option value="option1">Year</option>
                </select>
              </div>
            </div>
          </div>
          <div class="input-form">
            <div class="title-font">Grade</div>
            <div class="dropdown-div style">
              <select class="font">
                <option value="option1">Date</option>
              </select>
            </div>

            <div class="title-font">Gender</div>
            <div class="form-row">
              <div class="check-box box-style">
                <p class="checkbox-font">Boy</p>
                <img
                  src="assets/subscription-assests/checkbox.svg"
                  alt="Description of SVG"
                />
              </div>
              <div class="check-box box-style">
                <p class="checkbox-font">Girl</p>
                <img
                  src="assets/subscription-assests/checkbox.svg"
                  alt="Description of SVG"
                />
              </div>
            </div>
          </div>

          <div class="flags">
            <div class="title-font">As a parent select any 3 topics</div>
            <div class="selection-flags">
              <div class="tab style font">Arabic</div>
              <div class="tab style font">Islamic</div>
              <div class="tab style font">English</div>
              <div class="tab style font">History</div>
              <div class="tab style font">Sports</div>
            </div>
          </div>
        </div>
      </div>
      <div id="card1-button">
        <div class="button-layout button-style">
          <button class="btn-font">Continue to payment</button>
        </div>
      </div>
    </div>
    <div class="card-2">
      <div class="frame2">
        <div class="head">
          <div class="heading-font">Summary</div>
          <div class="title-font">of your Monthly Surprise Box</div>
        </div>
        <div class="price-cart style">
          <div class="cart-title title-style">
            <div>Mystery Box</div>
            <div>x1</div>
          </div>
          <div class="right-cart-title right-cart-style">
            <div>SAR 456</div>
            <div>Monthly</div>
          </div>
        </div>
        <div class="calculation">
          <div class="row-values">
            <div class="calulation-title">Subtotal</div>
            <div>SAR <strong>456</strong></div>
          </div>
          <div class="row-values">
            <div class="calulation-title">Shipping</div>
            <div>Free</div>
          </div>
          <div class="row-values">
            <div class="calulation-title">Taxes</div>
            <div>SAR 4.0</div>
          </div>
          <div class="divider"></div>
          <div class="row-values">
            <div class="calulation-title">Total</div>
            <div>
              <div>SAR <strong>456</strong></div>
              <div>Monthly</div>
            </div>
          </div>
          <div id="card2-button">
            <div class="button-layout button-style">
              <button class="btn-font">Continue to payment</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="footer-end">
      <img
        src="assets/subscription-assests/logo-black.svg"
        alt="Description of SVG"
      />
      <div class="label">
        <div>Overview</div>
        <div>Help</div>
        <div>Privacy</div>
      </div>
      <div>© 2077 MyEdu</div>
    </div>
  </footer>
</ion-content>
