<ion-content>
  <div id="main-container">
    <div class="section-1">
      <header class="header">
        <div class="navigation">
          <img src="assets/home-assests/logo.svg" alt="Description of SVG" />
        </div>
      </header>
      <div class="content">
        <div class="heading-section">
          <div class="content-head">
            <div class="content-title">
              Discover the magic of our surprise box
            </div>
          </div>
          <div class="content-title">
            <h5>
              Unleash your child's curiosity with our educational subscription
              box filled with fun and learning.
            </h5>
          </div>
          <button class="btn-typo">Subscribe Now</button>
        </div>
        <div class="img-card">
          <img src="assets/home-assests/img.svg" alt="Description of SVG" />
        </div>
      </div>
    </div>
    <div class="section-2">
      <div class="description-card">
        <div class="card-title">Discover</div>
        <div class="card-heading">
          How It Works: Subscribe and Receive Your Surprise Box
        </div>
        <div class="card-description">
          Subscribe to our surprise subscription box and give your child the
          gift of learning. Each month, we curate a box filled with educational
          materials tailored to your child's age and interests.
        </div>
      </div>
      <div class="steps-row">
        <div class="inner-step">
          <div class="stepper-svg">
            <img src="assets/home-assests/1.svg" alt="Description of SVG" />
          </div>
          <div class="stepper-heading">
            <p>Step 1: Subscribe</p>
          </div>
          <div class="stepper-description">
            Select a subscription plan that suits your child's learning needs
            and preferences.
          </div>
        </div>
        <div class="inner-step">
          <div class="stepper-svg">
            <img src="assets/home-assests/2.svg" alt="Description of SVG" />
          </div>
          <div class="stepper-heading">
            <p>Step 2: Personalise Your Box</p>
          </div>
          <div class="stepper-description">
            Tell us about your child's age, interests, and learning goals, and
            we'll customize their surprise box accordingly.
          </div>
        </div>
        <div class="inner-step">
          <div class="stepper-svg">
            <img src="assets/home-assests/3.svg" alt="Description of SVG" />
          </div>
          <div class="stepper-heading">
            <p>Step 3: Receive Your Surprise Box</p>
          </div>
          <div class="stepper-description">
            Sit back and relax as your child eagerly awaits the arrival of their
            monthly surprise box filled with engaging learning materials.
          </div>
        </div>
      </div>
      <button class="btn-typo">Subscribe Now</button>
    </div>
    <footer class="footer">
      <div class="footer-frame">
        <div class="frame-content">
          <img src="assets/home-assests/logo.svg" alt="Description of SVG" />
          <div>
            <ul>
              Link One
            </ul>
            <ul>
              Link Two
            </ul>
            <ul>
              Link Three
            </ul>
            <ul>
              Link Four
            </ul>
            <ul>
              Link Five
            </ul>
          </div>
          <div class="footer-form">
            <div class="stepper-heading">
              <p>Subscribe</p>
            </div>
            <div class="footer-input">
              <input
                type="text"
                class="input-style"
                name=""
                id=""
                placeholder="Enter your Email"
              />
            </div>
            <div id="footer-subscribe">
              <div class="text-btn">Subscribe</div>
            </div>
            <p>By subscribing you agree to with our Privacy Policy</p>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="footer-end">
        <div>Privacy Policy</div>
        <div>Terms of Service</div>
        <div>Cookies Setting</div>
      </div>
    </footer>
  </div>
</ion-content>
